html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    transition: background-color 0.1s;
}

nav ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(0, 230, 180);
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    transition: color 0.3s, background-color 0.3s;
}

nav ul li a:hover {
    background-color: #262424;
    color: #ef0000fc;
}

.content {
    padding-top: 60px;
}

section {
    padding: 60px 20px;
    height: 100vh;
    color: antiquewhite;
}

#section1 { background-color: #3a4b8a; }
#section2 { background-color: #272076; }
#section3 { background-color: #08113b; }
#section4 { background-color: #020118; }